body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #8C9EFF;
    background-repeat: no-repeat;
}

.custom-card {
    z-index: 0;
    background-color: #ECEFF1;
    padding-bottom: 10px; /* Reduced padding */
    margin-top: 5px; /* Reduced margin */
    margin-bottom: 45px; /* Reduced margin */
    border-radius: 10px;
}

.custom-card .top {
    padding-top: 20px; /* Reduced padding */
    padding-left: 10% !important;
    padding-right: 10% !important;
}

/* Icon progress bar */
.custom-card #progressbar {
    margin-bottom: 15px; /* Reduced margin */
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 15px; /* Reduced margin */
}

.custom-card #progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    text-align: center; /* Center the text and tick mark */
}

.custom-card #progressbar li:before {
    width: 30px; /* Reduced size */
    height: 30px; /* Reduced size */
    line-height: 30px; /* Adjusted line height */
    display: block;
    font-size: 16px; /* Reduced font size */
    background: #C5CAE9;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    content: ''; /* Remove default content */
}

.custom-card #progressbar li.active:before {
    content: '✔'; /* Unicode tick mark */
    color: white; /* Color of the tick mark */
    background: #651FFF; /* Background color of the circle when active */
}

.custom-card #progressbar li p {
    margin-top: 5px; /* Reduced margin */
    font-weight: bold;
    font-size: 14px; /* Adjust font size */
    color: #455A64; /* Text color */
}

/* Progress bar connectors */
.custom-card #progressbar li:after {
    content: '';
    width: 100%;
    height: 8px; /* Reduced height */
    background: #C5CAE9;
    position: absolute;
    left: 0;
    top: 13px; /* Adjusted position */
    z-index: -1;
}

.custom-card #progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

.custom-card #progressbar li:nth-child(2):after,
.custom-card #progressbar li:nth-child(3):after {
    left: -50%;
}

.custom-card #progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
}

.custom-card #progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Color number of the step and the connector before it */
.custom-card #progressbar li.active:after {
    background: #651FFF; /* Color of the connector when active */
}

/* Responsive styles */
@media screen and (max-width: 992px) {
    .custom-card .icon-content {
        width: 50%;
    }
}


.border-high {
    border: 5px solid red;
}

.border-medium {
    border: 5px solid orange;
}

.border-low {
    border: 5px solid yellow;
}

